/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 244, 249); /* Default light gray background */
  color: #333;
  text-align: center; /* Center-align text */
  transition: background-color 1s ease; /* Smooth transition for background color change */
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

